@tsd:registry=https://gitlab.tesodev.com/api/v4/projects/16/packages/npm/
//gitlab.tesodev.com/api/v4/packages/npm/:_authToken=BJ4sj1UgHPrzpUcdE18S
//gitlab.tesodev.com/api/v4/projects/16/packages/npm/:_authToken=BJ4sj1UgHPrzpUcdE18S
