@use "sass:map" as mixinMap;

$sizes: (
  sm: (
    padding: 8px 14px,
  ),
  md: (
    padding: 10px 16px,
  ),
  lg: (
    padding: 10px 18px,
  ),
  xl: (
    padding: 12px 20px,
  ),
  2xl: (
    padding: 16px 28px,
  ),
);
$sizesOnlyIcon: (
  sm: (
    width: 2.25rem,
    height: 2.25rem,
  ),
  md: (
    width: 2.5rem,
    height: 2.5rem,
  ),
  lg: (
    width: 2.75rem,
    height: 2.75rem,
  ),
  xl: (
    width: 3rem,
    height: 3rem,
  ),
  2xl: (
    width: 3.5rem,
    height: 3.5rem,
  ),
);
$solidColors: (
  primary: (
    "": (
      background: $primary-600,
      color: $white,
    ),
    hover: (
      background: $primary-700,
    ),
    active: (
      background: $primary-800,
    ),
    focus-visible: (
      box-shadow: get-ring($primary-100),
    ),
    disabled: (
      background: $primary-200,
    ),
  ),
  secondary: (
    "": (
      background: $primary-50,
      color: $primary-700,
    ),
    hover: (
      background: $primary-100,
    ),
    active: (
      background: $primary-200,
    ),
    focus-visible: (
      box-shadow: get-ring($primary-100),
    ),
    disabled: (
      background: $primary-25,
      color: $primary-300,
    ),
  ),
  success: (
    "": (
      background: $success-600,
      color: $white,
    ),
    hover: (
      background: $success-700,
    ),
    active: (
      background: $success-800,
    ),
    focus-visible: (
      box-shadow: get-ring($success-100),
    ),
    disabled: (
      background: $success-200,
    ),
  ),
  info: (
    "": (
      background: $blue-light-600,
      color: $white,
    ),
    hover: (
      background: $blue-light-700,
    ),
    active: (
      background: $blue-light-800,
    ),
    focus-visible: (
      box-shadow: get-ring($blue-light-100),
    ),
    disabled: (
      background: $blue-light-200,
    ),
  ),
  warning: (
    "": (
      background: $warning-600,
      color: $white,
    ),
    hover: (
      background: $warning-700,
    ),
    active: (
      background: $warning-800,
    ),
    focus-visible: (
      box-shadow: get-ring($warning-100),
    ),
    disabled: (
      background: $warning-200,
    ),
  ),
  danger: (
    "": (
      background: $error-600,
      color: $white,
    ),
    hover: (
      background: $error-700,
    ),
    active: (
      background: $error-800,
    ),
    focus-visible: (
      box-shadow: get-ring($error-100),
    ),
    disabled: (
      background: $error-200,
    ),
  ),
  dark: (
    "": (
      background: $gray-900,
      color: $white,
    ),
    hover: (
      background: $gray-800,
    ),
    active: (
      background: $gray-700,
    ),
    focus-visible: (
      box-shadow: get-ring($gray-100),
    ),
    disabled: (
      background: $gray-200,
    ),
  ),
);
$outlineColors: (
  primary: (
    "": (
      background: $white,
      color: $primary-600,
      border-color: $primary-300,
    ),
    hover: (
      background: $primary-100,
    ),
    active: (
      background: $primary-200,
    ),
    focus-visible: (
      box-shadow: get-ring($primary-100),
    ),
    disabled: (
      background: $primary-200,
    ),
  ),
  secondary: (
    "": (
      background: $white,
      color: $gray-700,
      border-color: $gray-300,
    ),
    hover: (
      background: $gray-50,
    ),
    active: (
      background: $gray-100,
    ),
    focus-visible: (
      box-shadow: get-ring($gray-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  success: (
    "": (
      background: $white,
      color: $success-600,
      border-color: $success-300,
    ),
    hover: (
      background: $success-100,
    ),
    active: (
      background: $success-200,
    ),
    focus-visible: (
      box-shadow: get-ring($success-100),
    ),
    disabled: (
      background: $success-200,
    ),
  ),
  info: (
    "": (
      background: $white,
      color: $blue-light-600,
      border-color: $blue-light-300,
    ),
    hover: (
      background: $blue-light-100,
    ),
    active: (
      background: $blue-light-200,
    ),
    focus-visible: (
      box-shadow: get-ring($blue-light-100),
    ),
    disabled: (
      background: $blue-light-200,
    ),
  ),
  warning: (
    "": (
      background: $white,
      color: $warning-600,
      border-color: $warning-300,
    ),
    hover: (
      background: $warning-100,
    ),
    active: (
      background: $warning-200,
    ),
    focus-visible: (
      box-shadow: get-ring($warning-100),
    ),
    disabled: (
      background: $warning-200,
    ),
  ),
  danger: (
    "": (
      background: $white,
      color: $error-600,
      border-color: $error-300,
    ),
    hover: (
      background: $error-100,
    ),
    active: (
      background: $error-200,
    ),
    focus-visible: (
      box-shadow: get-ring($error-100),
    ),
    disabled: (
      background: $error-200,
    ),
  ),
  dark: (
    "": (
      background: $white,
      color: $gray-600,
      border-color: $gray-300,
    ),
    hover: (
      background: $gray-100,
    ),
    active: (
      background: $gray-200,
    ),
    focus-visible: (
      box-shadow: get-ring($gray-100),
    ),
    disabled: (
      background: $gray-200,
    ),
  ),
);
$ghostColors: (
  primary: (
    "": (
      color: $primary-700,
    ),
    hover: (
      background: $primary-50,
    ),
    active: (
      background: $primary-100,
    ),
    focus-visible: (
      box-shadow: get-ring($primary-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  secondary: (
    "": (
      color: $gray-700,
    ),
    hover: (
      background: $gray-50,
    ),
    active: (
      background: $gray-100,
    ),
    focus-visible: (
      box-shadow: get-ring($gray-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  success: (
    "": (
      color: $success-700,
    ),
    hover: (
      background: $success-50,
    ),
    active: (
      background: $success-100,
    ),
    focus-visible: (
      box-shadow: get-ring($success-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  info: (
    "": (
      color: $blue-light-700,
    ),
    hover: (
      background: $blue-light-50,
    ),
    active: (
      background: $blue-light-100,
    ),
    focus-visible: (
      box-shadow: get-ring($blue-light-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  warning: (
    "": (
      color: $warning-700,
    ),
    hover: (
      background: $warning-50,
    ),
    active: (
      background: $warning-100,
    ),
    focus-visible: (
      box-shadow: get-ring($warning-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  danger: (
    "": (
      color: $error-700,
    ),
    hover: (
      background: $error-50,
    ),
    active: (
      background: $error-100,
    ),
    focus-visible: (
      box-shadow: get-ring($error-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
  dark: (
    "": (
      color: $gray-700,
    ),
    hover: (
      background: $gray-50,
    ),
    active: (
      background: $gray-100,
    ),
    focus-visible: (
      box-shadow: get-ring($gray-100),
    ),
    disabled: (
      color: $gray-300,
    ),
  ),
);
$variants: (
  solid: $solidColors,
  outline: $outlineColors,
  ghost: $ghostColors,
);

@mixin button-size($size, $sizeMap) {
  @each $property, $value in mixinMap.get($sizeMap, $size) {
    #{$property}: $value;
  }

  @if $size == "2xl" {
    @include text-lg(600);
  } @else if $size == "lg" or $size == "xl" {
    @include text-md(600);
  } @else {
    @include text-sm(600);
  }
}

@mixin button-variant($variant, $color) {
  $variantMap: mixinMap.get($variants, $variant);
  $colorMap: mixinMap.get($variantMap, $color);

  @each $state, $stateValue in $colorMap {
    @if $state == "" {
      @each $property, $value in $stateValue {
        #{$property}: $value;
      }
    } @else {
      &:#{$state} {
        @each $property, $value in $stateValue {
          #{$property}: $value;
        }
      }
    }
  }
}

.button {
  all: unset;
  outline: none;
  text-decoration: none;
  background: none;
  user-select: none;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-md;
  border: 1px solid transparent;
  border-radius: var(--button-border-radius, $rounded-sm);
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.2s;

  &:disabled {
    cursor: not-allowed;
  }

  &-fluid {
    width: 100%;
  }

  &-half-rounded {
    border-radius: 2rem;
  }

  &-full-rounded {
    border-radius: $rounded-full;
  }

  &.button-icon-only {
    @each $size, $value in $sizesOnlyIcon {
      &.button-#{$size} {
        @include button-size($size, $sizesOnlyIcon);
      }
    }
  }

  &:not(.button-icon-only) {
    @each $size, $value in $sizes {
      &.button-#{$size} {
        @include button-size($size, $sizes);
      }
    }
  }

  @each $variant, $variantColors in $variants {
    &-#{$variant} {
      @each $color, $value in $variantColors {
        &.button-#{$color} {
          @include button-variant($variant, $color);
        }
      }
    }
  }
}
