$font-sizes: (
  xs: display-xs,
  sm: display-sm,
  md: display-md,
  lg: display-lg,
  xl: display-xl,
  2xl: display-2xl,
);
$font-weights: (
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
);
$font-colors: (
  black: $black,
  white: $white,
  gray: $gray-600,
  primary: $primary-600,
  success: $success-600,
  info: $blue-light-600,
  warning: $warning-600,
  danger: $error-600,
);

.text {
  @each $font-size, $mixin in $font-sizes {
    &.text-#{$font-size} {
      @if $mixin == display-xs {
        @include text-xs;
      } @else if $mixin == display-sm {
        @include text-sm;
      } @else if $mixin == display-md {
        @include text-md;
      } @else if $mixin == display-lg {
        @include text-lg;
      } @else if $mixin == display-xl {
        @include text-xl;
      } @else if $mixin == display-2xl {
        @include text-2xl;
      }
    }
    &.heading-#{$font-size} {
      @if $mixin == display-xs {
        @include display-xs;
      } @else if $mixin == display-sm {
        @include display-sm;
      } @else if $mixin == display-md {
        @include display-md;
      } @else if $mixin == display-lg {
        @include display-lg;
      } @else if $mixin == display-xl {
        @include display-xl;
      } @else if $mixin == display-2xl {
        @include display-2xl;
      }
    }
  }

  @each $color, $color-variable in $font-colors {
    &.color-#{"#{$color}"} {
      color: $color-variable;
    }
  }

  @each $weight, $weight-value in $font-weights {
    &.font-#{$weight} {
      font-weight: $weight-value;
    }
  }
}
