$font-sizes: (
  xs: display-xs,
  sm: display-sm,
  md: display-md,
  lg: display-lg,
  xl: display-xl,
  2xl: display-2xl
);
$font-weights: (
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);
$font-colors: (
  black: $black,
  white: $white,
  gray: $gray-600,
  primary: $primary-600,
  success: $success-600,
  info: $blue-light-600,
  warning: $warning-600,
  danger: $error-600
);

.text {
  @each $font-size, $mixin in $font-sizes {
    @each $weight, $weight-value in $font-weights {
      @each $color, $color-variable in $font-colors {
        &.text-#{$font-size}-#{$weight}-#{"#{$color}"} {
          @if $mixin == display-xs {
            @include text-xs($weight-value, $color-variable);
          } @else if $mixin == display-sm {
            @include text-sm($weight-value, $color-variable);
          } @else if $mixin == display-md {
            @include text-md($weight-value, $color-variable);
          } @else if $mixin == display-lg {
            @include text-lg($weight-value, $color-variable);
          } @else if $mixin == display-xl {
            @include text-xl($weight-value, $color-variable);
          } @else if $mixin == display-2xl {
            @include text-2xl($weight-value, $color-variable);
          }
        }
        &.heading-#{$font-size}-#{$weight}-#{"#{$color}"} {
          @if $mixin == display-xs {
            @include display-xs($weight-value, $color-variable);
          } @else if $mixin == display-sm {
            @include display-sm($weight-value, $color-variable);
          } @else if $mixin == display-md {
            @include display-md($weight-value, $color-variable);
          } @else if $mixin == display-lg {
            @include display-lg($weight-value, $color-variable);
          } @else if $mixin == display-xl {
            @include display-xl($weight-value, $color-variable);
          } @else if $mixin == display-2xl {
            @include display-2xl($weight-value, $color-variable);
          }
        }
      }
    }
  }
}
