.tabs {
  width: 100%;
  display: flex;
  flex-direction: column;

  &--orientation-vertical {
    height: 100%;
    flex-direction: row;
  }

  &--direction-before {
    flex-direction: column-reverse;

    &.tabs--orientation-vertical {
      flex-direction: row-reverse;
    }
  }

  &--direction-after {
    flex-direction: column;

    &.tabs--orientation-vertical {
      flex-direction: row;
    }
  }
}
