.file-upload {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  position: relative;
  overflow: hidden;
  transition: height 0.4s ease;

  .file-upload__list {
    display: flex;
    gap: $spacing-md;
    flex-wrap: wrap;

    &-row {
      flex-direction: row;
      align-items: stretch;
    }

    &-col {
      flex-direction: column;
    }
  }

  .file-upload__actions {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }

  &:has(.file-upload__actions, .file-upload__list) {
    padding: 1rem;
    border: 1px solid $gray-200;
    border-radius: 1rem;
  }
}
