.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: 1rem;
  border: 1px solid $gray-200;
  border-radius: 1rem;

  .file-list {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }
}
