.file-upload-container {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  padding: 1rem;
  border: 1px solid $gray-200;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: height 0.4s ease;

  .file-list {
    display: flex;
    gap: $spacing-md;
    flex-wrap: wrap;

    &-row {
      flex-direction: row;
      align-items: stretch;
    }

    &-col {
      flex-direction: column;
    }
  }

  .file-upload-actions {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
  }
}
