@use "sass:list";

$sizes: (
    sm: (padding: 8px 14px),
    md: (padding: 10px 16px),
    lg: (padding: 10px 18px),
    xl: (padding: 12px 20px),
    2xl: (padding: 16px 28px),
);
$solidColors: (
    primary: (background: $brand-100, border-color: $brand-400, color: $brand-700),
    secondary: (background: $gray-100, border-color: $gray-400, color: $gray-700),
    success: (background: $success-100, border-color: $success-400, color: $success-700),
    info: (background: $blue-light-100, border-color: $blue-light-400, color: $blue-light-700),
    warning: (background: $warning-100, border-color: $warning-400, color: $warning-700),
    danger: (background: $error-100, border-color: $error-400, color: $error-700),
    dark: (background: $gray-900, border-color: $gray-900, color: $white),
);
$outlineColors: (
    primary: (background: $white, border-color: $brand-600, color: $brand-600),
    secondary: (background: $white, border-color: $gray-600, color: $gray-600),
    success: (background: $white, border-color: $success-600, color: $success-600),
    info: (background: $white, border-color: $blue-light-600, color: $blue-light-600),
    warning: (background: $white, border-color: $warning-600, color: $warning-600),
    danger: (background: $white, border-color: $error-600, color: $error-600),
    dark: (background: $white, border-color: $gray-900, color: $gray-900),
);
$variants: (
    solid: $solidColors,
    outline: $outlineColors,
);

.alert-wrapper {
    width: max-content;
    border: var(--alert-border-width, 1px);
    border-style: var(--alert-border-style, solid);
    border-radius: var(--alert-border-radius, $rounded-sm);
    padding: var(--alert-padding, $spacing-lg $spacing-lg);

    .alert {
        display: flex;
        align-items: flex-start;
        gap: $spacing-md;

        .alert-content {
            flex:1 ;
            
            .alert-title {
                @include text-sm(600);
            }

            .alert-text {
                @include text-sm(400);
            }
        }

        .alert-close {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: flex-start;
            flex-shrink: 0;
            cursor: pointer;
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &.alert-fluid {
        width: 100%;
    }

    @each $variant, $variantColors in $variants {
        &.alert-#{$variant} {
            @each $color, $colorValue in $variantColors {
                &.alert-#{$color} {
                    @each $property, $propertyValue in $colorValue {
                        #{$property}: var(--alert-#{$variant}-#{$color}-#{$property}, $propertyValue);
                    }
                }
            }
        }
    }

}