.calendar {
  width: max-content;
  height: max-content;
  padding: 1rem;
  border: 1px solid $gray-200;
  border-radius: $rounded-sm;
  box-shadow: $shadow-xl;

  .calendar-content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .calendar-title {
        color: $gray-700;

        @include text-sm(600);
      }

      .calendar-navigation {
        cursor: pointer;
        transition: color 150ms ease;
        color: $gray-400;

        &:hover {
          color: $primary-600;
        }
      }
    }

    .calendar-table {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .week-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        color: $gray-900;

        @include text-sm(500);
      }

      .month-days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
      }

      .calendar-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        cursor: default;
        user-select: none;

        &.day {
          cursor: pointer;
          transition: background-color 150ms ease;
          color: $gray-900;
          margin-top: $spacing-xs;

          .day-content {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: $rounded-full;
          }

          &:hover {
            .day-content {
              background-color: $primary-100;
            }
          }

          &.today {
            .day-content {
              background-color: $gray-500;
              color: white !important;
            }
          }

          &.selected {
            .day-content {
              background-color: $primary-600;
              color: white;
            }
          }

          &.passive {
            .day-content {
              color: $gray-500;
            }
          }

          &.range-start,
          &.in-range,
          &.range-end {
            background-color: $primary-50;
          }

          &.range-start,
          &.first-day-of-week {
            border-top-left-radius: $rounded-full;
            border-bottom-left-radius: $rounded-full;
          }

          &.range-end,
          &.last-day-of-week {
            border-top-right-radius: $rounded-full;
            border-bottom-right-radius: $rounded-full;
          }
        }
      }
    }
  }
}
