.datepicker-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 1px solid $gray-200;
  border-radius: $rounded-sm;
  box-shadow: $shadow-xl;
  width: max-content;

  .datepicker-sidebar {
    width: 10rem;
    padding: 0.75rem 1rem;
    border-right: 1px solid $gray-200;
  }

  .datepicker-content {
    flex: 1;

    .datepicker-body {
      display: flex;
      align-items: stretch;
      justify-content: center;

      .calendar-container:nth-of-type(2) {
        border-left: 1px solid $gray-200;
      }
    }

    .datepicker-footer {
      padding: 0.75rem 1rem;
      border-top: 1px solid $gray-200;
    }
  }
}
