.datepicker-panel {
  display: flex;
  align-items: stretch;
  height: max-content;
  border: 1px solid $gray-200;
  border-radius: $rounded-sm;
  box-shadow: $shadow-xl;
  width: max-content;

  .datepicker-aside {
    width: 20%;
    padding: $spacing-lg $spacing-xl;
  }

  .datepicker-body {
    display: flex;
    flex-direction: column;
    border-left: 1px solid $gray-200;
    width: 100%;

    .datepicker-calendars {
      display: flex;
      align-items: stretch;
      justify-content: center;
      width: max-content;
      border-bottom: 1px solid $gray-200;

      .calendar {
        border: none;
        box-shadow: none;

        &:first-of-type {
          border-right: 1px solid $gray-200;
        }
      }
    }

    .datepicker-actions {
      padding: 1rem;
    }
  }
}
