@use 'sass:map';

$sizes: (
  'sm': (
    width: 1.75rem,
    height: 1rem,
    handle-width: 0.75rem,
    handle-height: 0.75rem,
  ),
  'md': (
    width: 2rem,
    height: 1.25rem,
    handle-width: 1rem,
    handle-height: 1rem,
  ),
  'lg': (
    width: 2.5rem,
    height: 1.5rem,
    handle-width: 1.25rem,
    handle-height: 1.25rem,
  ),
  'xl': (
    width: 3rem,
    height: 1.75rem,
    handle-width: 1.5rem,
    handle-height: 1.5rem,
  ),
  '2xl': (
    width: 3.5rem,
    height: 2rem,
    handle-width: 1.75rem,
    handle-height: 1.75rem,
  )
);

@mixin toggle-size($size) {
  $sizeMap: map.get($sizes, $size);
  width: map.get($sizeMap, width);
  height: map.get($sizeMap, height);

  &::after {
    width: map.get($sizeMap, handle-width);
    height: map.get($sizeMap, handle-height);
  }

  &.toggle-checked::after {
    transform: translateX(calc(#{map.get($sizeMap, width)} - #{map.get($sizeMap, handle-width)} - 4px));
  }
}

@mixin toggle-text-size($size) {
  .toggle-label-text {
    @if $size == "2xl" {
      @include text-2xl(500);
    } @else if $size == "xl" {
      @include text-xl(500);
    } @else if $size == "lg" {
      @include text-lg(500);
    } @else if $size == "md" {
      @include text-md(500);
    } @else if $size == "sm" {
      @include text-sm(500);
    } @else {
      @include text-xs(500);
    }
  }

  .toggle-label-description {
    @if $size == "2xl" {
      @include text-2xl(400);
    } @else if $size == "xl" {
      @include text-xl(400);
    } @else if $size == "lg" {
      @include text-lg(400);
    } @else if $size == "md" {
      @include text-md(400);
    } @else if $size == "sm" {
      @include text-sm(400);
    } @else {
      @include text-xs(400);
    }
  }
}

.toggle-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle {
  position: relative;
  background-color: $gray-200;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: all 0.2s ease-in-out;
  outline: none;

  &.toggle-thumb-square {
    border-radius: 6px;
    
    &::after {
      border-radius: 4px;
    }
  }

  &.toggle-thumb-circle {
    border-radius: 999px;
    
    &::after {
      border-radius: 50%;
    }
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $white, 0 0 0 4px $primary-500;
  }

  &.toggle-sm { 
    @include toggle-size('sm');
    + .toggle-label { @include toggle-text-size('sm'); }
  }
  &.toggle-md { 
    @include toggle-size('md');
    + .toggle-label { @include toggle-text-size('md'); }
  }
  &.toggle-lg { 
    @include toggle-size('lg');
    + .toggle-label { @include toggle-text-size('lg'); }
  }
  &.toggle-xl { 
    @include toggle-size('xl');
    + .toggle-label { @include toggle-text-size('xl'); }
  }
  &.toggle-2xl { 
    @include toggle-size('2xl');
    + .toggle-label { @include toggle-text-size('2xl'); }
  }
}

.toggle-input {
  position: absolute;
  opacity: 0;
  inset: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &:disabled {
    cursor: not-allowed;
  }
}

.toggle::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: $white;
  transition: transform 0.2s ease-in-out;
  box-shadow: $shadow-sm;
  z-index: 2;
}

.toggle.toggle-checked {
  background-color: $primary-500;

  &:hover:not(:disabled) {
    background-color: $primary-600;
  }
}

.toggle:hover:not(:disabled) {
  background-color: $gray-300;
}

.toggle-label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.toggle-label-text {
  color: $gray-900;
}

.toggle-label-description {
  color: $gray-600;
}

.toggle.toggle-disabled {
  background-color: rgba($gray-400, 0.12);
  cursor: not-allowed;

  &::after {
    background-color: $gray-50;
  }

  &.toggle-checked {
    background-color: rgba($gray-400, 0.12);

    &:hover {
      background-color: rgba($gray-400, 0.12);
    }

    &::after {
      background-color: $gray-50;
    }
  }

  &:hover {
    background-color: rgba($gray-400, 0.12);
  }
}

.toggle.toggle-disabled + .toggle-label {
  cursor: not-allowed;

}
