.toggle-wrapper {
  display: flex;
  align-items: flex-start;
  gap: $spacing-md;

  .toggle {
    position: relative;
    width: var(--toggle-width, 2rem);
    height: var(--toggle-height, 1.25rem);
    background: var(--toggle-background, $gray-100);
    border-radius: $rounded-md;
    transition: background-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    display: inline-block;

    .toggle-input {
      appearance: none;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
      outline: none;
      z-index: 1;
      margin: 0;
      padding: 0;
      border-radius: $rounded-md;
    }

    &::after {
      content: "";
      position: absolute;
      width: var(--toggle-handle-width, 1rem);
      height: var(--toggle-handle-height, 1rem);
      background-color: var(--toggle-handle-background, $white);
      border-radius: $rounded-full;
      transition:
        transform 0.3s ease,
        background-color 0.3s ease;
      margin: 0.125rem;
      box-shadow: var(--toggle-handle-shadow, $shadow-sm);
    }

    &:hover {
      background-color: var(--toggle-hover-background, $gray-200);
    }

    &:focus-visible {
      box-shadow: get-ring(var(--toggle-focus-ring, $primary-100));
    }

    &.toggle-checked {
      background-color: var(--toggle-checked-background, $primary-600);

      &::after {
        transform: translateX(0.75rem);
      }
    }

    &.toggle-disabled {
      box-shadow: none;
      background-color: var(--toggle-disabled-background, $gray-50);
    }
  }

  .toggle-label {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;

    .toggle-label-text {
      @include text-sm(bold, var(--toggle-label-color, $gray-700));
    }

    .toggle-label-description {
      @include text-sm(light, var(--toggle-description-color, $gray-600));
    }
  }
}
