.fade {
  &-enter-active,
  &-leave-active {
    transition: opacity 0.5s ease-in-out;
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  &-enter-to,
  &-leave-from {
    opacity: 1;
  }
}

.slide-left {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-in-out;
    }

    &-leave-active {
        position: absolute;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(-50%);
    }
}

.slide-right {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-in-out;
    }

    &-leave-active {
        position: absolute;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateX(50%);
    }
}

.slide-up {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-in-out;
    }

    &-leave-active {
        position: absolute;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(-50%);
    }
}

.slide-down {
    &-move,
    &-enter-active,
    &-leave-active {
        transition: all 0.3s ease-in-out;
    }

    &-leave-active {
        position: absolute;
    }

    &-enter-from,
    &-leave-to {
        opacity: 0;
        transform: translateY(50%);
    }
}